* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  color: inherit;
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background: #e5e5e5;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 72px;
  width: 870px;
}

h2,
.h2 {
  text-align: center;
  font-size: 44px;
  line-height: 66px;
  font-weight: 600;
}

h3 {
  font-weight: 600;
  font-size: 28px;
}

h4 {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
}
.h4 {
  margin-bottom: 16px;
}

h5 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}
h6 {
  text-align: center;
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
}

small,
.small {
  font-size: 12px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  align-items: center;
  height: 120px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

section {
  height: 100vh;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button,
.button {
  padding: 16px 28px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  border-radius: 30px;
  border-style: solid;
}

button + button {
  margin-left: 16px;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  background: linear-gradient(
      0,
      rgba(38, 38, 38, 0.6),
      rgba(38, 38, 38, 0.6) 100%
    ),
    url("hero.jpg") no-repeat center/cover;
  color: #ffffff;
}
.text-hero {
  width: 562px;
  display: block;
  font-weight: 400;
}
.text-inpurple {
  width: 547px;
  display: block;
  font-weight: 400;
  margin: 23px 0;
}
.text-white {
  color: #ffffff;
}
.text-secondary {
  color: #868fa1;
}

.text-card {
  max-width: 278px;
  margin-top: 8px;
}

.uppercase-text {
  text-transform: uppercase;
  font-weight: 700;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 24px;
}

.hero-btn {
  display: flex;
  margin-top: 24px;
}

.btn-purpule {
  background-color: #f21162;
  color: #ffffff;
  border: 2px solid #f21162;
  transition: 0.3s ease-out;
}
.btn-purpule:hover {
  background-color: black;
  border-color: black;
  color: #ffffff;
}

.btn-transparent {
  background-color: transparent;
  border: 2px solid #ffffff;
  transition: 0.3s ease-out;
  display: inline-block;
}
.btn-transparent:hover {
  background-color: #f21162;
  border-color: #f21162;
  color: #ffffff;
}

.btn-white {
  background-color: transparent;
  border: 2px solid #ffffff;
  transition: 0.3s ease-out;
}
.btn-white:hover {
  background-color: #ffffff;
  color: black;
}

.services-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px 26px;
  margin-top: 80px;
}

.services-card {
  padding: 40px;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.09);
}

.card-img {
  margin-bottom: 28px;
}

.stat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistik {
  background: url("cpunter.png") center / cover no-repeat;
  padding: 125px 0;
  color: #ffffff;
}

.statistik-inner {
  max-width: 985px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.red-line {
  width: 80px;
  height: 3px;
  border: none;
  background-color: #f21162;
  margin: 16px 0;
}

.portfolio {
  height: auto;
  padding: 130px 0;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 17, 98, 0.9);
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 64px;
  text-align: left;
  opacity: 0;
  transition: opacity 0.3s;
}

.portfolio-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 600px;
  margin-top: 80px;
}
.portfolio-card {
  position: relative;
}

.portfolio-card:hover > .overlay {
  opacity: 1;
}

.text-folio {
  color: #ffffff;
}

.customer {
  height: auto;
  padding: 130px 0;
}

.text-primary {
  color: #f21162 !important;
}

.bg-primary {
  background-color: #f21162 !important;
}

.text-left {
  text-align: left;
}

.profile-card-header {
  display: flex;
  align-items: center;
}

.card-header-text {
  margin-left: 18px;
}

.profile-card-text {
  margin: 22px 0;
  line-height: 176%;
}

.stars {
  display: flex;
}

.profile-card {
  padding: 60px;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.09);
}

.coust-cards {
  display: flex;
  gap: 26px;
  margin: 80px 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.text-coust {
  display: block;
  width: 620px;
  font-weight: 400;
}

.elipse {
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.elipse + .elipse {
  margin-left: 12px;
}
.togather {
  padding: 100px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}
.team-img {
  margin: 0 13px;
}
.blog-img {
  width: 100%;
}

.blog-text {
  margin: 30px 0;
}

.blog-sec-text {
  margin: 10px 0;
}

.blog-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.experement {
  width: 100%;
  box-sizing: border-box;
  padding: 0 13px;
}
.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fid-back {
  margin-top: 8px;
}

.name-feed {
  margin-top: 80px;
}
.form-feed {
  font-size: 16px;
  width: 100%;
  padding: 13px 24px;
  box-sizing: border-box;
  border: 1px solid #dedfe0;
  border-radius: 5px;
}

.name-first {
  display: flex;
  gap: 26px;
}
.margin {
  margin-top: 32px;
}

.page-info {
  background: #262626;
  padding: 90px 0;
}
.frame {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fab + .fab {
  margin-left: 25px;
}
.fab {
  color: #ffffff;
  font-size: 22px;
}
.text-foot {
  color: #ffffff;
  display: flex;
  align-items: center;
}
.grey-line {
  border: 1px solid #868fa2;
  margin: 42px auto;
}
.margin-btn {
  margin-left: 58px;
}
.logo-perpule {
  color: transparent;
  -webkit-text-stroke: 1px #f21162;
  text-stroke: 1px #f21162;
  font-size: 28px;
  position: absolute;
  left: 5px;
  top: 2px;
}
.logo {
  position: relative;
}
.logo > h3 {
  position: relative;
  z-index: 1;
}
.up-btn {
  position: fixed;
  right: 52px;
  bottom: 50px;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.507);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #e5e5e5;
}

.up-btn > i {
  margin-top: -2px;
}
